<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title> 
            MastersBook1
        </title>
    <link rel="stylesheet" href="css_verst_registration.css"> 
    </head>
    <body>
        <div class="container">
            <div class="choise">
                <div class="head">
                    <p>
                        You need to autorize
                    </p>
                </div>
                <div class="varaity">
                    <form class= "loginSubmit" method="get" action="/loginPage">
                        <button type="submit">Log In</button>
                    </form>
                    <form class= "registrationSubmit" method="get" action="/registrationPage">
                        <button type="submit">Registration</button>
                    </form>
                </div>
            </div>
        </div>
    </body>