<!-- <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title> 
            MastersBook1
        </title>
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="css_verst_registrationPage.css">
        
    </head>
    <body>
        <div class="top">
            <div class ="homepage">
                <a href="/">
                    <img src="data/DnD-Symbol.png" width="70px" height="40px">
                </a>
            </div>
        </div>
        <div class="container">
            <div class="choise">
                <div class="head">
                    <p>
                        Registration
                    </p>
                </div>
                <form class="varaity" method="POST" action="/registrationPage/registrationSucces">
                    <input name="login">
                    <input name="password">
                    <button type="submit" >Submit</button>
                </form>
            </div>
        </div>
    </body> -->