<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title> 
            MastersBook1
        </title>
        <!-- <link rel="stylesheet" href="reset.css"> -->
        <link rel="stylesheet" href="css_verst.css">
       
    </head>
    <body>
        <div class="main_info_content">
            <div class="cards_grid">
                
            </div>
        </div>
        <div class="card">
            <div class="image_case">
                <div class="image">
                    <div class="sliderButton_case_left">&#8249</div>
                    <div class="costil">
                        <img class="frame" src="/ex3/pages/data/grid_cards/barbarian/1.jpg">
                    </div>
                    <div class="sliderButton_case_right">&#8250</div>
                </div>
            </div>
            <div class="specs">
                <ul class="spec_text">
                    <li class="specs_li"></li>
                    <div class="quantity_inner">
                        <button class="bt_minus">
                            <svg class="svgs" viewbox="0 0 24 24">
                                <line class="line_d">-</line>
                            </svg>
                        </button>
                        <input class="quantity">
                        <button class="bt_minus">
                            <svg class="svg" viewbox="0 0 24 24">
                                <line class="line_up">+</line>
                            </svg>
                        </button>
                    </div>
                    <li class="specs_li"></li>
                    <div class="quantity_inner">
                        <button class="bt_minus">
                            <svg class="svgs" viewbox="0 0 24 24">
                                <line class="line_d">-</line>
                            </svg>
                        </button>
                        <input class="quantity">
                        <button class="bt_minus">
                            <svg class="svg" viewbox="0 0 24 24">
                                <line class="line_up">+</line>
                            </svg>
                        </button>
                    </div>
                    <li class="specs_li"></li>
                    <div class="quantity_inner">
                        <button class="bt_minus">
                            <svg class="svgs" viewbox="0 0 24 24">
                                <line class="line_d">-</line>
                            </svg>
                        </button>
                        <input class="quantity">
                        <button class="bt_minus">
                            <svg class="svg" viewbox="0 0 24 24">
                                <line class="line_up">+</line>
                            </svg>
                        </button>
                    </div>
                    <li class="specs_li"></li>
                    <div class="quantity_inner">
                        <button class="bt_minus">
                            <svg class="svgs" viewbox="0 0 24 24">
                                <line class="line_d">-</line>
                            </svg>
                        </button>
                        <input class="quantity">
                        <button class="bt_minus">
                            <svg class="svg" viewbox="0 0 24 24">
                                <line class="line_up">+</line>
                            </svg>
                        </button>
                    </div>
                    <li class="specs_li"></li>
                    <div class="quantity_inner">
                        <button class="bt_minus">
                            <svg class="svgs" viewbox="0 0 24 24">
                                <line class="line_d">-</line>
                            </svg>
                        </button>
                        <input class="quantity">
                        <button class="bt_minus">
                            <svg class="svg" viewbox="0 0 24 24">
                                <line class="line_up">+</line>
                            </svg>
                        </button>
                    </div>
                    <li class="specs_li"></li>
                    <div class="quantity_inner">
                        <button class="bt_minus">
                            <svg class="svgs" viewbox="0 0 24 24">
                                <line class="line_d">-</line>
                            </svg>
                        </button>
                        <input class="quantity">
                        <button class="bt_minus">
                            <svg class="svg" viewbox="0 0 24 24">
                                <line class="line_up">+</line>
                            </svg>
                        </button>
                    </div>
                    <div class="activityButton">
                        <div class="generate_case">
                            <button class="generate">
                                <p></p>
                            </button>
                        </div>
                        <button class="saveHero"> 
                            <p></p>
                        </button>
                    </div>
                </ul>
            </div>
        </div>
        <script type="module" src="/ex3/ejs-pages/partials/savingHeroes.js"></script>
        <script type="module" src="sliderAndPictures.js"></script>
    </body>